*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Space Grotesk',sans-serif;
}

body{
background:#05050b;
color:#fff;
overflow-x:hidden;
}

#galaxy{
position:fixed;
inset:0;
z-index:-1;
}

.header{
position:fixed;
top:0;
width:100%;
padding:20px 10%;
display:flex;
justify-content:space-between;
background:rgba(0,0,0,.5);
backdrop-filter:blur(12px);
z-index:100;
}

.header a{
color:#fff;
margin-left:20px;
text-decoration:none;
transition:.3s;
}

.header a:hover{
color:#00f7ff;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
perspective:1200px;

}

.hero-card{
padding:50px;
border-radius:30px;
background:rgba(255,255,255,.05);
text-align:center;
box-shadow:0 0 80px #00f7ff50;
transform-style:preserve-3d;
}

.hero-card img{
width:170px;
border-radius:50%;
border:4px solid #00f7ff;
margin-bottom:20px;
transform:translateZ(60px);
}

.section{
padding:70px 8%;
text-align:center;
}

.skills-title{
    padding:30px;
}


.skills-grid,.portfolio-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:35px;
}

.skill,.project{
background:#0f0f1a;
padding:35px;
border-radius:25px;
transform-style:preserve-3d;
box-shadow:0 0 30px #000;
transition:.4s;
}

.skill i{
font-size:42px;
color:#00f7ff;
margin-bottom:15px;
transform:translateZ(40px);
}

.project img{
width:100%;
border-radius:20px;
margin-bottom:15px;
transform:translateZ(50px);
}
.proyect{
    padding:30px;
}

.contact-form{
max-width:620px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
padding:30px;
}

.contact-form input,
.contact-form textarea{
padding:30px;
background:#0f0f1a;
border:none;
border-radius:12px;
color:#fff;
}

.contact-form button{
padding:16px;
border:none;
border-radius:40px;
background:linear-gradient(45deg,#00f7ff,#7f00ff);
color:#fff;
cursor:pointer;
font-weight:600;
}

.whatsapp{
position:fixed;
bottom:25px;
right:25px;
background:#25D366;
color:#fff;
font-size:30px;
padding:16px;
border-radius:50%;
box-shadow:0 0 30px #25D366;
animation:pulse 2s infinite;
}

@keyframes pulse{
50%{transform:scale(1.15)}
}

.hero-buttons{
margin-top:20px;
display:flex;
gap:12px;
justify-content:center;
flex-wrap:wrap;
}
.btn{
padding:14px 22px;
border-radius:40px;
text-decoration:none;
font-weight:600;
display:flex;
align-items:center;
gap:8px;
transition:.4s;
}
.btn.primary{
background:linear-gradient(45deg,#00f7ff,#7f00ff);
color:#fff;
}
.btn.primary:hover{
transform:scale(1.08);
box-shadow:0 0 30px #00f7ff;
}
.btn.outline{
border:2px solid #00f7ff;
color:#00f7ff;
}
.btn.outline:hover{
background:#00f7ff;
color:#000;
}

.about{
margin-top:-20px;
}

.about p{
margin-top:20px;
line-height:1.7;
color:#ddd;
font-size:1.05rem;
}



@media(max-width:768px){
.section{
padding:70px 6%;
}
#contacto{
padding:100px 7%;
}
}

@media(max-width:480px){
.section{
padding:60px 5%;}
.hero-buttons{
gap:10px;
}
#contacto{
padding:90px 6%;
}

}